@import "variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $primary-color;
}

.logo {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 80px;
  transition: ease-in-out 0.2s;
}

form {
  position: absolute;
  top: 50%;
  transition: ease-in-out 0.2s;
}

.form-group {
  display: flex;
  width: 500px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  transition: ease-in-out 0.2s;
}

input {
  box-sizing: border-box;
  padding-left: 20px !important;
  font-size: 1.3rem;
}

input:nth-child(4) {
  margin-top: 10px;
}

.btn {
  background-color: $secondary-color;
}

.custom-shape-divider-top-1697724837 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1697724837 svg {
  position: relative;
  display: block;
  width: calc(120% + 1.3px);
  height: 250px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1697724837 .shape-fill {
  fill: #FFFFFF;
}

//Media queries
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
  .logo {
    height: 70px;
  }

  .form-group {
    width: 400px;
  }

  .btn {
    font-size: 1.4rem;
  }

  .custom-shape-divider-top-1697724837 svg {
    width: calc(150% + 1.3px);
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .form-group {
    width: 300px;
    max-width: 80vw;
  }

  .btn {
    font-size: 1.3rem;
  }

  .custom-shape-divider-top-1697724837 svg {
    width: calc(200% + 1.3px);
    height: 250px;
  }
}