@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");
@import "variables";

* {
  padding: 0;
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  background-color: white;
}

.content {
  padding: 0 3rem;
}

.primary-heading {
  font-size: 36px;
  padding: 20px 3rem;
}

.btn {
  display: inline-block;
  cursor: pointer;
  color: white;
  margin-top: 30px;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  transition: ease-in-out 0.2s;
}

.btn:active {
  transition: 0.2s;
  transform: scale(0.9);
}

//Media queries
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
  .content {
    padding: 0 2rem;
  }

  .primary-heading {
    font-size: 32px;
    padding-left: 2rem;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  .content {
    padding: 0 1rem;
  }

  .primary-heading {
    font-size: 24px;
    padding-left: 1rem;
  }

  .btn {
    font-size: 18px;
  }
}