@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");
@import "variables";

* {
  padding: 0;
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  background-color: white;
}

.content {
  padding: 0 3rem;
}

.primary-heading {
  font-size: 36px;
  padding: 30px 3rem;
}
