@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
}

body {
  background-color: #0069FF;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-group {
  display: flex;
  width: 25vw;
  padding: 10px;
  border: none;
  border-radius: 25px;
}

input {
  box-sizing: border-box;
  padding-left: 20px !important;
  font-size: 1.3rem;
}

input:nth-child(4) {
  margin-top: 10px;
}

.btn {
  display: inline-block;
  cursor: pointer;
  background-color: #242752;
  color: white;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  transition: ease-in-out 0.2s;
}

.btn:active {
  transition: 0.2s;
  transform: scale(0.9);
}